@use "@shared/styles/variables.scss" as *;

.progress {
  width: 100%;
}

.progress__track {
  width: 100%;
  height: 8px;
  background: #f4f4f5;
  border-radius: 999px;
  overflow: hidden;
}

.progress__bar {
  height: 100%;
  background: $color-brand-primary;
  border-radius: inherit;
  transition: width 0.3s ease;
}
