@use "@shared/styles/variables.scss" as *;
@use "@shared/styles/mixins.scss" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0;

  @include media-md {
    gap: 24px;
    padding: 20px 0;
  }

  @include media-sm {
    padding: 16px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;

  @include media-sm {
    gap: 12px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: $br-12;
  background: $color-basic-white;
  padding: 24px;
  border: 1px solid $color-brand-primary;
  @include shadow();

  @include media-md {
    padding: 20px;
  }

  @include media-sm {
    gap: 16px;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $color-basic-white-v2;
}

.cardValue {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accentPrimary {
  color: $color-brand-primary;
}

.accentSecondary {
  color: $color-brand-secondary;
}

.accentWarning {
  color: $color-basic-red;
}

.description {
  color: $color-basic-gray;
}
