@use '@shared/styles/variables.scss' as *;

*,
*::before,
*::after {
  transition: all 0.3s ease-in-out;
}
html {
}

body {
  transition: 0.3s;
  font-family: var(--font-family);
  font-size: var(--fs-16);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--fw-500);
  background: $color-basic-white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-main {
  flex-grow: 1;
}
.header{
  flex-shrink: 0;
}
.footer {
  flex-shrink: 0;
}

:root {
  --font-family: #{$font-sans};
  --fs-16: #{$fs-16};
  --line-height: #{$line-height};
  --letter-spacing: #{$letter-spacing};
  --fw-400: #{$fw-400};
  --fw-500: #{$fw-500};
  --fw-600: #{$fw-600};
  --fw-700: #{$fw-700};
  --br-5: #{$br-5};
  --fs-14: #{$fs-14};
  --font-family: var(--font-family);
  --color-basic-black: #{$color-basic-black};
  --color-basic-white: #{$color-basic-white};
  --color-basic-gray: #{$color-basic-gray};
  --color-brand-primary: #{$color-brand-primary};
  --color-brand-secondary: #{$color-brand-secondary};
}
