$font-sans: "Inter", sans-serif;
$fs-16: 0.875rem;
$line-height: 110%;
$letter-spacing: 0;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$br-5: 5px;
$br-8: 8px;
$br-10: 10px;
$br-12: 12px;
$br-15: 15px;
$fs-60: 3.75rem;
$fs-20: 1.25rem;
$fs-36: 2.25rem;
$fs-14: 0.875rem;
$fs-12: 0.75rem;


$color-basic-black: #121212;
$color-basic-white: #FCFCFC;
$color-basic-white-v2: #F9F9F9;
$color-basic-gray: #b8b8b8;
$color-brand-primary: #007C4F;
$color-brand-secondary: #009789;
$color-basic-red: #eb5050;
$breakpoint-xxl: 1920px;
$breakpoint-xl: 1530px;
$breakpoint-lg: 1440px;
$breakpoint-md: 1200px;
$breakpoint-sm: 960px;
$breakpoint-xs: 640px;
$breakpoint-xxs: 480px;
$breakpoint-tn: 320px;



