.abilities {
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__titles {
    display: flex;
    flex-direction: column;
    gap: 27px;
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    &__item {
      border-radius: 10px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
      background: #fcfcfc;
      gap: 9px;
      &__iconbg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        border-radius: 10px;
        padding: 12px;
      }
    }
  }
}
