.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 27px;
    margin-top: 80px;
    &_subtitle{
        max-width: 691px;
        
    }
    &__buttons{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}