.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 27px;
    margin-top: 80px;
    @media (max-width: 440px) {
    align-items: stretch;
  }
    &_subtitle{
        max-width: 691px;
        
    }
    &__buttons{
        display: flex;
        gap: 1rem;
        justify-content: center;
        &_button{

        }
        @media(max-width: 440px){
            flex-direction: column;
         
            .hero__buttons_button > button{
                width: 100%;
            }
            
        }
    }
}