@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables.scss" as *;
.card{
    padding: 25px;
    border-radius: 16px;
    border: 1px solid $color-brand-primary; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    @include shadow();
    &_status{
        margin-top: 5px;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &_right{
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: flex-end;
            text-align: right;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        margin: 24px 0;
        gap: 15px;
        &_top{

        }
        &_bottom{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left{
            display: flex;
            align-items: center;
            gap: 4px;
        }
        &_right{
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
}

.card__info_item {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
        color: #b8b8b8;
    }
}

.confirmFooter {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.motivation {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardSkeleton {
    position: relative;
    border-radius: 16px;
   
    &__overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        z-index: 0;
        pointer-events: none;
    }

    &__content {
        @extend .card;
         border: none;
        position: relative;
        z-index: 1;
        background: transparent;
        box-shadow: none;
    }
}
