@use '@shared/styles/variables' as *;
.logoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: $color-brand-primary;
  margin: 14px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logoText {
  font-weight: 700;
  font-size: 12px;
  color: #121212;
}
