.ready{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    &__buttons{
        display: flex;
        gap: 1rem;
    }
}